*{
  margin: auto auto;
}

.header{
  margin: 1vh;
  height: 15vh;
  width: auto;
  background-color: rgb(0, 0, 255);
}

.footer{
  clear: both;
  margin: 1vh;
  height: 15vh;
  width: auto;
  background-color: rgb(0, 255, 0);
}

.nav{
  float: left;
  margin:  0 0 1vh 1vh;
  height: 70vh;
  width: 20vh;
  background-color: rgb(255, 0, 0);
}

.aside{
  float: right;
  margin: 0 1vh 1vh 1vh;
  height: 70vh;
  width: 20vh;
  background-color: rgb(255, 230, 0);
}

.main{
  margin: 1vh 22vh 1vh 22vh;
  height: 70vh;
  background-color: rgb(0, 255, 220);
}

.aside__case1{
  margin: 1vh;
  height: 5vh;
  background-color: rgb(255, 0, 255);
}

.aside__case2{
  margin: 1vh;
  height: 5vh;
  background-color: rgb(100, 100, 100);
}

.aside__case3{
  margin: 1vh;
  height: 15vh;
  background-color: rgb(100, 255, 100);
}

.aside__case4{
  margin: 1vh;
  height: 10vh;
  background-color: rgb(100, 100, 255);
}

.aside__case5{
  margin: 1vh;
  height: 25vh;
  background-color: rgb(255, 150, 150);
}